* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
        -45deg, 
        rgba(59,173,227,1) 0%, 
        rgba(87,111,230,1) 25%, 
        rgba(152,68,183,1) 51%, 
        rgba(255,53,127,1) 100%
    );
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Calculadora {
    background-color: aliceblue;
    border: black 5px solid;
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
}

.Display {
    background-color: black;
    color: white;
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 30px;
}

.Teclado {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Boton {
    border: 1px solid black;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
}

.Igual {
    background-color: black;
    color: white;
}

.Boton:hover {
    background-color: rgba(0, 0, 0, 0.185);
    color: white;
    transform: scale(105%);
    transition: 0.5s ease;
}